@media screen and (max-width:576px) {
    .nav-container{
        display: flex;
        flex-direction: column;
    }
    .item-container{
        display: flex;
        flex-direction: column;
        
    }
    
    .item-container a{
        margin: 20px 0;
}
.icon-top{
    padding: auto;
}
.item-container a{
    font-size: 14px;
}

.goat{
    font-size: 50px;
}
.play{
    font-size: 25px;
}
.banner-container{
    display: flex;
   flex-direction: column-reverse;
}
.text-container{
    width: 100%;
   
}
.banner-image-container{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.we-gamer{
    display: flex;
    flex-direction: column;
}
.online-games{
    grid-template-columns: repeat(1, 1fr);
}

.play-games{
    display: flex;
    flex-direction: column-reverse;
}
.image-play-game{
 width: 100%;
}
.play-game-content{
    width: 100%;
}
.position img{
    position: relative;
    bottom: 150px;
    left: 200px;
    width: 40%;
    height: 180px;

    
}
.button-container{
    height: 100%;
    display: flex;
    
    gap: 10px;
    
    
}
.button-container button{
    /* width: 200px; */
    width: 80px;
    gap: 2px;
   
    





}
.button-container img{
    width: 30px;
}


.footer-header-container{
    width: 100%;
    flex-direction: column;
   
}
.footer-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}
.footer-text-container{
    
    flex-wrap: wrap;
    margin: auto;
}

}