@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .item-container{
        flex-direction: column;
        
    }
    
    .item-container a{
        margin: 20px 0;
}
.icon-top{
    padding: auto;
}
.item-container a{
    font-size: 14px;
}

.goat{
    font-size: 50px;
}
.play{
    font-size: 25px;
}
.banner-container{
   flex-direction: column-reverse;
}
.text-container{
    width: 100%;
   
}
.banner-image-container{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.we-gamer{
    flex-direction: column;
}
.online-games{
    grid-template-columns: repeat(1, 1fr);
}
.play-games{
    flex-direction: column-reverse;
}
.image-play-game{
 width: 100%;
}
.play-game-content{
    width: 100%;
}
.position img{
    position: relative;
    bottom: 150px;
    left: 200px;
    width: 160px;
    height: 180px;
    
}
.button-container{
    flex-direction: column;
    
    
}
.button-container button{
    width: 200px;
}





}