@media screen and (max-width:576px) {
    .nav-container{
        display: flex;
        flex-direction: column;
    }
    .item-container{
        display: flex;
        flex-direction: column;
        
    }
    
    .item-container a{
        margin: 20px 0;
}
.icon-top{
    padding: auto;
}
.item-container a{
    font-size: 14px;
}

.goat{
    font-size: 50px;
}
.play{
    font-size: 25px;
}
.banner-container{
    display: flex;
   flex-direction: column-reverse;
   padding-top: 50px;
}
.text-container{
    width: 100%;
    padding-top: 50px;
   
}
.banner-image-container{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.we-gamer{
    display: flex;
    flex-direction: column;
}
.online-games{
    grid-template-columns: repeat(1, 1fr);
}

.play-games{
    display: flex;
    flex-direction: column-reverse;
}
.image-play-game{
 width: 100%;
}
.play-game-content{
    width: 100%;
}
.position img{
    position: relative;
    bottom: 150px;
    left: 200px;
    width: 40%;
    height: 180px;

    
}
.button-container{
    height: 100%;
    display: flex;
    
    gap: 30px;
    
    
}
.button-container button{
    display: flex;
    align-items: center;
    text-decoration: none;
   
    width: 20%;
    gap:10px;
    border-radius: 20px;
    border: none;
}
.button-container img{
    width: 30px;
}


.footer-header-container{
    width: 100%;
    flex-direction: column;
   
}
.footer-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}
.footer-text-container{
    
    flex-wrap: wrap;
    margin: auto;
}
.gamer-content{
    width: 50%;
    padding-bottom: 100px;
}
.gamer-img{
    width: 100%;
    padding-top: 50px;
}
.card:hover{
    background-color: #3C354F;
    transition: 2s ease;
    transform: translate(-0%, -50%);
    color: white;
    

}
}



@media screen and (min-width:576px) and (max-width:900px){
    .online-games{
        grid-template-columns: repeat(2, 1fr);
    }
    .play-games{
        display: flex;
        flex-direction: column-reverse;
    }
    .image-play-game{
     width: 80%;
    }
    .play-game-content{
        width: 90%;
    }
    .position img{
        position: relative;
        bottom: 100px;
        left: 220px;
        width: 40%;
        height: 180px;
}
.nav-container{
    display: flex;
    flex-direction: column;
}
.item-container{
    display: flex;
    flex-direction: column;
    
}
.icon-img{
   width: 80%;
}
.footer-text-container{
    width: 80%;
}
}